# Contoh konfigurasi, silakan sesuaikan 
#Fill up your adguard url, if didn't works try docker ips (172.x.x.x) (required)
ADGUARD_HOST=http://localhost:80

#Your AdGuard username and password for authentication that you setup during the init (required)  
ADGUARD_USER=
ADGUARD_PASS=

#Your exporter port (optional, default 9617)
EXPORTER_PORT=

#Scrape Interval by prometheus (optional, default 15s)
SCRAPE_INTERVAL=15s

#Fill up your LogLevel you want it to, (DEBUG,INFO,ERROR)
LOG_LEVEL=DEBUG

#GEOIP_DB File download => wget https://raw.githubusercontent.com/P3TERX/GeoLite.mmdb/download/GeoLite2-City.mmdb
GEOIP_DB=/path/to/your/GeoLite2-City.mmdb
